# Environment variables
.env
classifications.json

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/
